.subject-sections {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flex-1 {
  flex: 1;
}
.section-data-remove {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #8885;
  background: black;
  color: #fff;
}
.section-data {
  display: flex;
  gap: 1rem;
  background: #eee;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}
.question-btn {
  display: flex;
  gap: 5px;
}
.add-question {
  margin-top: 1rem;
  background: #fff;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.75;
  cursor: pointer;
  flex: 1;
}
